/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */

/*   FONTS   */

@font-face{
    font-family: 'InterstateBold';
    src:url('../fonts/Interstate-Bold.otf');
}

@font-face{
    font-family: 'InterstateRegular';
    src:url('../fonts/Interstate-Regular.otf');
}

@font-face{
    font-family: 'InterstateLight';
    src:url('../fonts/Interstate-Light.otf');
}

@font-face{
    font-family: 'InterstateExtraLight';
    src:url('../fonts/Interstate-ExtraLight.otf');
}

@font-face{
    font-family: 'Ionicons';
    src:url('../fonts/ionicons.ttf');
}


/*   HELPERS   */

.bold{
    font-family: 'InterstateBold';
}

.reg{
    font-family: 'InterstateRegular'; 
}

.light{
    font-family: 'InterstateLight';
}

.xlight{
    font-family: 'InterstateExtraLight';
}

.right{
    float:right !important;
}

.left{
    float:left !important;
}

.center{
    text-align: center;
}

.row{
    margin: 0 auto !important;
}

.row-buffer{
    margin-top:2rem !important;
}

.row-divider{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}

.hoverable:hover{
    transition: opacity .25s;
    opacity:.8;
    cursor: pointer;
}

.ml50{
    margin-left:50px !important;
}

.fixed{
    position: fixed;
}

.selected{
    background-color:rgba(217,230,243,.4) !important;
}

.hidden{
    display:none;
}

.pointer{
    cursor:pointer;
}

.bottom-border{
    border-bottom: 2px solid #ddd !important;
}

.capitalize{
    text-transform: capitalize;
}

.s25{
    font-size:25px;
}

.accept:hover{
    color:#44b19b;
}

.reject:hover{
    color:#e05b4b;
}

/*   GENERAL   */

html, body{
    height: 100%;
    font-family: 'InterstateRegular';
    background-color: #f7f7f7 !important;
    font-size:13px;
/*    overflow: hidden;*/
}

/*
body{
    overflow: hidden;
}
*/

/*
header{
    width:100%;
    height:60px;
    position: fixed;
    top:0;
}
*/

.container{
    padding-left: 0px;
    padding-right: 0px;
/*
    max-height: calc(100%-150px);
    overflow-y: scroll;
    margin-top:60px;
*/
}

.col-md-2-custom{
    width:20% !important;
}

hr{
    margin: 3px;
    margin-top:20px;
}

table{
    cursor: default;
}

a i{
    color:#aaaaaa !important;
}

a{
    color:#216699 !important;
}

textarea{
    border:1px solid #aaaaaa !important;
    border-radius: 3px !important;
}

.logo {
    width:105%;
    margin-left:-7px;
    margin-top:-2px;
}

.logo-sm{
    width:32px;
    margin-left:-2px !important;
    margin-top:8px;
}

.card{
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-content{
    padding: 20px;
    border-radius: 0 0 2px 2px;
}


.panel{
    border-radius: 0px;
}

.color-panel{
    border-radius:3px;
}

/* do we want the user to be able to highlight at all?*/
.result{
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          
}

.result:hover{
    background-color: #7faed7;
    cursor: pointer;
    color: white !important;
}

.result:hover h5{
    color: white !important;
}

.comptitle{
    color:#123455;
    font-family: 'InterstateBold';
    float: left;
    margin-left:18px;
    text-transform: uppercase;
}

.per18 {width: 18% !important;}

.details-section{
    height:520px;
    overflow: auto;
}

.details-section .panel{
    width:99.75%;
    margin:15px auto;
}


/*   BUTTONS   */

.btn{
    border-radius: 2px !important;
}

.btn-default{
    border-color:#e5e5e5;
    background-color:#e5e5e5;
}

.btn-primary{
    border-color:#44b19b !important;
    background-color:#44b19b !important;
}

.btn-primary:hover{
    background-color:#44b19b;
    transition: opacity .25;
    opacity:.8;
}

.welcome-btn:hover, .welcome-btn:active, .welcome-btn:focus{
   text-decoration: none;
}

.welcome-btn i{
    color:#ffffff !important;
}

.btn-success{
    border-color: transparent;
}

.btn-success:hover, .btn-success:active:focus {
    border-color: transparent;
    
}

/*   HEADERS   */

.main-header{
    font-size:50px;
}

.main-sub-header{
    font-size:20px;
}

/*     NAVS     */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #d9e6f3 !important;
}

.nav-tabs{
    background-color: white;
}

.nav-tabs li{
/*    width:33%;*/
    text-align: center;
}

.rev-actions{
    margin-left:-45px;
    margin-top:5px;
}

.rev-actions:hover{
    cursor: pointer;
}

.rev-actions li{
    display: inline;
    font-size: 16px;
}

/*   FORMS   */

.form-control{
    border:none;
    border-radius: 0px;
}

.input-group{
    border:1px solid #e5e5e5;
}

.input-group .form-control{
    font-family: 'InterstateLight';
    padding:10px;
    z-index: 1;
}

.input-group-addon{
    border:none;
    border-radius:0px;
    color:#95989a;
    background-color: #ffffff;
    font-size:18px;
    padding:6px 9px;
}

.text-input{
    border: 1px solid #ddd;
    border-radius: 3px;
}

.radio-inline{
    position: relative;
    padding: 0 25px 0 25px !important;
}

.radio-custom input[type="radio"]:checked + label:after {
    background-color: #216699 !important;
    left: 3px !important;
    margin-top:-7px !important;
    width: 12px !important;
    height: 12px !important;
}

div.checkbox-custom label {
    color: #aaaaaa;
    font-family: 'InterstateLight';
}

div.checkbox-custom input[type=checkbox] + label:before, div.checkbox-custom input[type=radio] + label:before {
    border: none;
    background-color: transparent;
    border-radius: 0px;
    color: #aaaaaa;
    font-family: ionicons;
    content: '\f372';
    font-size: 18px;
}

div.checkbox-custom input[type=checkbox]:checked + label:after, div.checkbox-custom input[type=radio]:checked + label:after {
    font-family: ionicons;
    content: '\f374';
    color: #216699;
    font-size: 18px;
    left:0px;
    margin-top: -9px;
}

/*   FOOTER   */

.footer {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 150px;
/*    height:21%;*/
    background-color: #ffffff;
    border-top:1px solid #aaaaaa;
}

.footer-sm{
    height:75px !important;
}

.footer-action-btn{
    width:106px;
    height:106px;
    margin-top:22px; 
    margin-left:20px;
    font-size: 35px;
}

.footer-action-btn-sm{
    height:53px !important;
    margin-top:12px;
}

/*   FONT WEIGHTS   */

.bold{
    font-family: 'InterstateBold';
}

.regular{
    font-family: 'InterstateRegular';
}

.light{
    font-family: 'InterstateLight';
}


/*   COLORS   */

.navy{
    background-color: #123455 !important;
}

.navy-text{
    color:#123455 !important;
}

.blue{
    background-color: #216699 !important;
}

.blue-text{
    color:#216699 !important;
}

.blue-light{
    background-color: #7faed7 !important;
}

.blue-light-text{
    color:#7faed7 !important;
}

.blue-pale{
    background-color: #d9e6f3 !important;
}

.blue-pale-text{
    color:#d9e6f3 !important;
}

.red{
    background-color: #e05b4b !important;
}

.red-text{
    color:#e05b4b !important;
}

.orange{
    background-color: #e37a3e !important;
}

.orange-text{
    color:#e37a3e !important;
}

.yellow{
    background-color: #efca4d !important;
}

.yellow-text{
    color:#efca4d !important;
}

.green{
    background-color: #44b19b !important;
}

.green-text{
    color:#44b19b !important;
}

.gray-dark{
    background-color: #333333 !important;
}

.gray-dark-text{
    color:#333333 !important;
}

.gray{
    background-color: #95989a !important;
}

.gray-text{
    color:#95989a !important;
}

.gray-light{
    background-color: #aaaaaa !important;
}

.gray-light-text{
    color:#aaaaaa !important;
}

.gray-pale{
    background-color: #f7f7f7 !important;
}

.gray-pale-text{
    color:#f7f7f7 !important;
}

.gray-white{
    background-color: #ededed !important;
    color:#ededed !important;
}

.white{
    background-color:#ffffff !important;
}

.white-text{
    color:#ffffff !important;
}

.transparent{
    background-color: transparent !important;
}